# Environment files
.env

# Personal files
BACKLOG.md

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# macOS
.DS_Store

# frontend pnpm
node_modules/
pnpm-lock.yaml
.vite/
dist/
